*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.sec1
{
    position: relative;
    width:100%;
    background-color: lightgreen;
    padding-top:20px;
}

.sec1 header
{
    width:60%;
    padding:10px;
    color:palevioletred;
    margin-left:20%;
}

.sec1 header h1
{
    font-size:40px;
    width:100%;
    text-align: center;
}

.sec1 header p
{
    margin-top: 20px;
    font-size:20px;
    width:100%;
    text-align: center;
}

.lagdis
{
    text-align:start;
    margin-top: 20px;
    font-size:20px;
    width:100%;
}

.lagdis div
{
    display:flex;
    width:100%;
}

.lagdis div div
{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.lagdis div div p
{
    width:10%;
    height:20px;
} 

.lagdis div div p p
{
    margin-left:50px;
}

.bar
{
    widows:90%;
    height:25px;
    margin:5% 20px;
    border:1px solid black;
}

.bar span
{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:18px;
}


.sec2
{
    position: relative;
    padding-top:20px;
    width:100%;
}

.img
{
    width:500px;
    height:500px;
    margin-left:500px;
}

.bimg
{
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    margin-top:20px;
    color:palevioletred;
    background-color: lightgreen;
}

.p1,.p2,.p3
{
  font-size:22px;
  text-align:center;
  width:70%;
  margin-left:15%;
  margin-top:30px;
  word-spacing:3px;
}


.bimg div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:100px;
    font-size:20px;
    border-radius:10px;
    margin-top:30px;
    margin-left:15%;
    padding-left:15px;
    color:brown;
    background-color:burlywood;
}

.sec3
{
    padding-top:30px;
    padding-bottom:20px;
    width:100%;
    background:linear-gradient(to right,#e34c26,black);
}

.imgs3
{
    margin-left:500px;
}

.sec3 h1
{
    display: flex;
    justify-content:center;
    align-items: center;
    width:20%;
    height:50px;
    text-align:start;
    margin-left:40%;
    background-color: white;
}

.s3p1
{
    width:60%;
    height:50px;
    text-align:start;
    margin-left:20%;
    margin-top:40px;
    margin-bottom:80px;
    word-spacing:5px;
    font-size: 22px;
    color: white;
}

.s3p2
{
    width:60%;
    height:50px;
    text-align:start;
    margin-left:20%;
    margin-top:40px;
    margin-bottom:80px;
    word-spacing:5px;
    font-size: 22px;
    color: white;
}


.sec4
{
    padding-top:30px;
    padding-bottom:20px;
    width:100%;
    background:linear-gradient(to right,#2965f1,black);
}

.img1s4,.img2s4,.img3s4
{
    margin-left:500px;
}

.sec4 h1
{
    display: flex;
    justify-content:center;
    align-items: center;
    width:20%;
    height:50px;
    text-align:start;
    margin-left:40%;
    background-color: white;
}

.s4p1,.s4p3,.s4p4
{
    width:60%;
    height:50px;
    text-align:start;
    margin-left:20%;
    margin-top:40px;
    margin-bottom:80px;
    word-spacing:5px;
    font-size: 22px;
    color:white;
}

.s4p2
{
    width:60%;
    height:100px;
    text-align:start;
    margin-left:20%;
    margin-top:60px;
    margin-bottom:100px;
    word-spacing:5px;
    font-size: 22px;
    color:white;
}


.sec5
{
    padding-top:30px;
    padding-bottom:20px;
    width:100%;
    background:linear-gradient(to right,#f0db4f,#323330);
}

.img1s5,.img2s5,.img3s5
{
    margin-left:500px;
}

.sec5 h1
{
    display: flex;
    justify-content:center;
    align-items: center;
    width:20%;
    height:50px;
    text-align:start;
    margin-left:40%;
    background-color: white;
}

.s5p1,.s5p3,.s5p4
{
    width:60%;
    height:50px;
    text-align:start;
    margin-left:20%;
    margin-top:40px;
    margin-bottom:80px;
    word-spacing:5px;
    font-size: 22px;
    color:white;
}

.s5p2
{
    width:60%;
    height:100px;
    text-align:start;
    margin-left:20%;
    margin-top:60px;
    margin-bottom:100px;
    word-spacing:5px;
    font-size: 22px;
    color:white;
}


.fsec
{
    width:100%;
    padding-top:50px;
}

.secform
{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    width:60%;
    height:300px;
    margin-left:20%;
    margin-top:20px;
    margin-bottom: 20px;
}

.secform p
{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.secform div
{
    position: relative;
    grid-column:1/3;
    display:flex;
    justify-content: center;
    align-items: center;
}

.secform p input
{
    position: absolute;
    left:20px;
    top:40px;
    width:80%;
    height:40px;
    font-size:20px;
    padding-left:5px;
    font-weight:200;
    background:transparent;
    color:palevioletred;
    border:none;
    outline:none;
    border-bottom:2px solid black;
}

.secform div input
{
    position: absolute;
    left:20px;
    top:30px;
    width:90%;
    height:60px;
    font-size:20px;
    padding-left:5px;
    color:palevioletred;
    font-weight:200;
    background:transparent;
    border:none;
    outline:none;
    border-bottom:2px solid black;
}

.secform p label
{
   position: absolute;
   left:23px;
   top:50px;
   font-size:20px;
   color:palevioletred;
   transition:all 0.2s linear;
}

.secform div label
{
    position: absolute;
    left:25px;
    color:palevioletred;
    top:60px;
    font-size:20px;
    transition:all 0.2s linear;
}

.secform p input:focus+label,.secform p input:valid+label
{
    color:black;
    top:20px;
    font-size:15px;
}

.secform div input:focus+label
{
   color:black;
   top:5px;
   font-size:15px;
}

.secform p input:focus,.secform div input:focus
{
    background-color: lightgreen;
}

.fsec h1
{
    display:flex;
    align-items: center;
    width:60%;
    height:40px;
    margin-left:21%;
    text-align:center;
}

.fsecp
{
    display:flex;
    align-items: center;
    width:60%;
    height:40px;
    margin-left:21%;
    text-align:center;
}

.section_email
{
    display:flex;
    background-color: lightgreen;
}

.section_email div
{
    flex:1;
    padding-top:40px;
    padding-bottom:60px;
    padding-right:20px;
    word-spacing:5px;
    line-height:30px;
}

.section_email div h1
{
    width:100%;
    text-align: center;
    padding-top:10px;
    font-size:40px;
    padding-bottom:10px;
    color:palevioletred;
}

.section_email div p
{
    width:100%;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    color:brown;
}

.section_email div div
{
    width:100%;
    display:flex;
    position: relative;
}

.section_email div div input
{
    height:40px;
    outline:none;
    position:absolute;
    border:2px solid black;
    font-size: 20px;
    border-radius:5px;
    background-color:yellowgreen;
}

.section_email div div label
{
    position: absolute;
    top:20px;
    width:100px;
    font-size:20px;
    color:navy;
}

.section_email div div input:focus
{
    border:3px solid blue;
}
