
*
{
margin:0;
padding:0;
box-sizing:border-box;
}

header
{
color:#fff;
background-color:rgb(143,188,143);
margin:.5em;
padding:.5em;
}

body
{
background-color:#709b90;
}

h1
{
margin:.5em;
}

.nav
{
background-color:#5f4b44;
margin:.5em .5em .5em .5em;
position:relative;
}

.ul1
{
display:inline-flex;
list-style:none;
}

.li1
{
background-color:#cc6b5a;
color:white;
padding:0.5em;
margin:0.5em;
}

main
{
background-color:white;
margin:.5em;
width:80%;
padding:1.5em;
}

aside
{
display:flex;
flex-direction:column;
width:20%;
}

aside>div
{
background-color:white;
margin:.5em;
padding:1.5em;
}

.b
{
background-color:#cc6b5a;
width:100%;
height:5vh;
}

h3
{
text-align:right;
}

.box
{
margin:5px;
margin-left:15px;
}

.b1
{
margin:5px;
color:rgb(70,130,180);
border:1px solid darkyellow;
padding:2px;
margin-left:15px;
}

.selected
{
position:absolute;
right:0px;
background-color:#cc6b5a;
color:white;
padding:0.5em;
margin:0.5em;
}

footer
{
color:#fff;
background-color:rgb(143,188,143);
margin:.5em;
padding:.5em;
text-align:center;
height:10vh;
}

ul li a:link, ul li a:visited 
{    
color:white;
border-bottom: none;    
font-weight: bold; 
text-decoration:none;
} 

.main
{
display:flex;
}

.dropdown
{
display:inline-block;
position:relative;
width:100%;
}

.dropdown-label
{
background-color:transperent;
padding:1em .5em 1em 1em;
border:1px solid white;
font-size:24px;
color:white;
}

.dropdown-menu
{
background-color:rgba(189,183,107,0.7);
display:none;
position:absolute;
left:0;
top:4.7em;
width:100%;
border:1px solid white;
}

.dropdown:hover .dropdown-menu
{
display:block;
}

.submenu
{
padding-left:0;
margin:0;
list-style:none;
border:1px solid white;
}

.submenu >li
{
border-top:1px solid white;
height:50px;
width:100%;
}

.submenu >li>a
{
display:block;
padding:.5em 4.5em;
background-color:transperent;
height:50px;
text-decoration:none;
}

.submenu>li>a:hover
{
background-color:#cc6b5a;
color:white;
}

.container
{
margin:10px;
width:20%;
max-width:1000px;
background-image:url(../images/coffee.png);
background-size:100% 100%;
}

.allcover
{
display:flex;
}

.dropdown-label::after
{
content:"";
position:absolute;
right:1.7em;
top:1.4em;
border:0.5em solid;
border-color:white black black black;
}

.dropdown:hover .dropdown-label::after
{
position:absolute;
top:0.8em;
border-color:black black white black;
}

@media only screen and (max-width:1040px)