
*
{
margin:0;
padding:0;
}

main
{
margin-left:10%;
width:80%;
display:grid;
grid-template-rows:25vh 10vh 25vh 15vh 10vh 10vh 10vh 10vh;
grid-template-columns:repeat(6,1fr);
}

.div1
{
width:100%;
height:100%;
grid-column:1/3;
grid-row:1/4;
}

.rheader
{
background-color:rgba(0,0,0,0.8);
grid-column:3/7;
padding-left:20px;
display:flex;
align-items:center;
}

.icons
{
display:inline-block;
margin-left:60px;
cursor:pointer;
}

.name
{
text-transform:uppercase;
font-size:50px;
color:white;
}

.div3
{
background-color:black;
grid-column:3/7;
}

.iconn
{
color:white;
font-size:25px;
}

.div4
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color:green;
cursor:pointer;
}

.div5
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color:red;
cursor:pointer;
}

.div6
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color:blue;
cursor:pointer;
}

.div7
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color:yellow;
cursor:pointer;
border:0.5px solid black;
border-bottom:0.5px solid yellow;
}

.firstpage
{
display:none;
grid-row:5/6;
grid-column:1/7;
border:0.5px solid black;
border-top:0px solid green;
transition:all 2s linear;
}

.header1
{
width:100%;
height:20vh;
background-color:green;
}

.heading1
{
width:100%;
height:20vh;
}

.main1
{
width:100%;
height:60vh;
}

.lower
{
transform:translateY(100px);
}

h2
{
margin-left:1%;
}

.html
{
transform:translateY(20px);
margin-left:1%;
width:98%;
height:20px;
background-image:linear-gradient(to right,blue,blue);
border:1px solid black;
}

.jquery
{
transform:translateY(40px);
margin-left:1%;
width:98%;
height:20px;
background-image:linear-gradient(to left,white 80%,blue 20%);
border:1px solid black;
}

.php
{
transform:translateY(50px);
margin-left:1%;
width:98%;
height:20px;
background-image:linear-gradient(to left,white 90%,blue 10%);
border:1px solid black;
}

.css
{
transform:translateY(30px);
margin-left:1%;
width:98%;
height:20px;
background-image:linear-gradient(to right,blue 90%,white 10%);
border:1px solid black;
}

.javascript
{
transform:translateY(60px);
margin-left:1%;
width:98%;
height:20px;
background-image:linear-gradient(to right,blue 70%,white 30%);
border:1px solid black;
}

.secondpage
{
display:none;
grid-column:1/7;
grid-row:6/7;
border:0.5px solid black;
border-top:none;
transition:all 2s linear;
}

.header2
{
width:100%;
height:20vh;
background-color:red;
}


.thirdpage
{
display:none;
grid-column:1/7;
grid-row:7/8;
border:0.5px solid black;
border-top:none;
}

.header3
{
width:100%;
height:20vh;
background-color:blue;
}


.fourthpage
{
display:none;
grid-column:1/7;
grid-row:8/9;
border:0.5px solid black;
border-top:none;
}

.header4
{
width:100%;
height:20vh;
background-color:yellow;
}


footer
{
grid-column:1/7;
grid-row:4/5;
background-color:rgba(0,0,0,0.8);
display:flex;
justify-content:center;
align-items:center;
}

.b1
{
width:140px;
height:35px;
text-transform:uppercase;
font-size:12px;
transition-property:all;
transition-duration:0.5s;
transition-timing-function:cubic-bezier(0.65,-0.25,0.25,1.95);
font-weight:600;
background-color:rgb(255,255,255);
}

.b1:hover
{
width:180px;
height:35px;
font-size:14px;
font-weight:700;
letter-spacing:2px;
cursor:pointer;
}
